.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-weight: bold;
        margin-top: 100px;
        font-size: 4em;
    }

    .description {
        margin-bottom: 100px;
        font-size: 2em;
        text-align: center;
    }
}

.topics-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
}
