.collection-card-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
    width: 33%;

    //align-items: center;
}

.collection-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    :first-child {
        font-weight: bold;
        text-transform: capitalize;
    }
    :last-child {
        color: darkgray;
    }
}

.detail-tags {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
    & button {
        margin-right: 1%;
        margin-bottom: 1%;
        text-transform: capitalize;
        color: darkgray;
        padding: 12px;
        background-color: rgb(217, 217, 217);
        border-radius: 4px;
        font-size: 1vw;
    }
}
