.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 700;
    font-family: var(--font-family);
    padding: 9px 16px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: transparent;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.home-more-info-btn {
    position: absolute;
    width: 7vw;
    height: 5vh;
    bottom: -1vw;
    background-color: white;
    border-radius: 4px;

    &:hover {
        background-color: cadetblue;
        animation: translate 0.5s linear;
    }

    & h1 {
        font-size: 1vw;
    }

    & h2 {
        font-size: 1vw;
    }
}

@keyframes translate {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(180deg);
    }
}
