//Create
.name {
    margin-top: 40px;
    margin-bottom: 20px;
}

.check-box {
    margin-top: 40px;
    display: flex;

    > label {
        display: flex;
        :last-child {
            width: 10px;
            margin-left: 10px;
            color: var(--icon-color);
        }
    }
}

.action-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
