@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

.wrapper {
    display: flex;
    min-height: 1000px;
    height: 100%;
    width: 100vw;
    flex-direction: column;
}

//introduct
.introduct {
    width: 100vw;
    //background-color: rgba(135, 187, 224, 0.2);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    & span {
        display: flex;
        flex-direction: row-reverse;
        font-weight: bold;
        font-size: 2vw;
    }
}

.image {
    padding: 2%;
}

@include keyframes(fade) {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

//collection image
.collection-image {
    display: flex;
    //background-color: rgba(255, 91, 91, 0.3);
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2%;
    & span {
        font-weight: bold;
        font-size: 2vw;
    }
}

.collection-image-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.collection-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    :first-child {
        font-size: 1vw;
        text-transform: capitalize;
    }

    :nth-child(2) {
        text-transform: capitalize;
        font-weight: normal;
        font-size: 0.8vw;
    }
}
