.more-tippy {
    display: flex;
    flex-direction: column;
    z-index: 12;

    .topic-btn,
    .collection-btn,
    .stats-btn,
    .trend-btn {
        display: flex;
        background: transparent;
        padding: 16px;
        color: var(--text-color);
        font-size: 1.8rem;
        width: 100%;
        align-items: flex-start;
        cursor: pointer;

        &:hover {
            color: var(--black);
        }
    }

    .another-link {
        display: flex;
        align-items: center;
        justify-content: center;

        & a {
            padding: 8px;
        }
    }
}
