.wrapper-image {
    width: 100%;
    display: flex;
    justify-content: center;

    //z-index: 1;

    .hidden {
        display: none;
    }
}

.hidden {
    animation: hide 1s;
}

.image {
    //display: flex;
    //z-index: 1;
    border-radius: 8px;
}

//UserPhotos
.user-photos {
    width: 100%; /* Chia độ rộng bằng nhau */
    height: auto; /* Giữ tỷ lệ khung hình */
    margin-top: 10px;
}

//RelatedPhotos
.related-photo {
    margin-bottom: 20px;

    &:hover {
        opacity: 0.8;
    }
    //flex: 1;
}

//CollectionPhoto
.collection-image {
    :last-child {
        border-radius: 8px;
        padding: 5px;
        object-fit: cover;
    }
}

//TopicPhoto
.topic-photo {
    :last-child {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        object-fit: cover;
        filter: brightness(0.7);
    }
}

//Search
.search {
    :last-child {
        cursor: pointer;
        object-fit: cover;
        border-radius: 4px;
        &:hover {
            opacity: 0.8;
        }
    }
}

//Home
.home {
    :last-child {
        cursor: pointer;
        border-radius: 4px 100% 100%;
        object-fit: cover;
        &:hover {
            animation-name: rotate;
            animation-duration: 0.7s;
            opacity: 0.8;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

@keyframes hide {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
