.wrapper-image {
    width: 100%;
    display: flex;
    justify-content: center;

    .hidden {
        display: none;
    }

    :first-child {
        z-index: 2;
        border-radius: 8px;
    }
}

.image {
    z-index: 1;
    border-radius: 8px;
}

//RelatedPhotos
.related-photos {
    margin-bottom: 20px;

    &:hover {
        opacity: 0.8;
    }
}

//CollectionPhoto
.collection-image {
    :last-child {
        border-radius: 8px;
        padding: 5px;
        object-fit: cover;
    }
}

//Search
.search {
    :last-child {
        cursor: pointer;
        object-fit: cover;
        border-radius: 4px;
        &:hover {
            opacity: 0.8;
        }
    }
}

//Home
.home {
    :last-child {
        cursor: pointer;
        border-radius: 4px 100% 100%;
        object-fit: cover;
        &:hover {
            animation-name: rotate;
            animation-duration: 0.7s;
            opacity: 0.8;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
