:root {
    --margin-detail-page: 2%;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
    background: var(--background-image);
    min-height: 1000px;
    height: 100%;
    width: 100%;
    //margin-left: 40px;
    //margin-right: 40px;
    justify-content: center;
}

.detail-content {
    height: 100%;
    width: 100%;
    //margin-top: var(--default-layout-header-height);
}

.content-photo {
    display: flex;
    justify-content: center;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//Related Collections
.detail-related-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: var(--margin-detail-page);
    margin-top: var(--margin-detail-page);

    .related_collections-title {
        font-weight: bold;
        font-size: 2.4em;
    }
}

.related-collections {
    display: flex;
    min-height: 50vh;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

//Related Photos
.detail-related-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--margin-detail-page);

    & span {
        font-weight: bold;
        font-size: 2.4em;
    }
}

.related-photos {
    width: 100%;
}

//Popup
.popup-action {
    width: 100%;
    padding: 40px;
    overflow-y: auto;

    > span {
        font-weight: bold;
        font-size: 1.6em;
    }
}

.btn-cancel,
.btn-create {
    font-size: 1.2em;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.btn-cancel {
    color: var(--text-color);
    background: transparent;
    text-decoration: underline;

    &:hover {
        opacity: 1;
        color: var(--black);
    }
}

.btn-create {
    color: var(--white);
    background: var(--black);
    padding: 16px;
    border-radius: 8px;
}

//Add
.popup-action-create {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--tippy-wrapper-background);
    color: var(--text-color);
    border: 2px dashed var(--text-color);
    border-radius: 8px;
    cursor: pointer;

    > span {
        font-weight: bold;
        font-size: 1.6em;
        margin-left: 20px;
    }

    &:hover {
        filter: brightness(0.7);
    }
}

.popup-action-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: var(--white);
    border-radius: 8px;
    box-sizing: border-box;
    background-position: center center;
    justify-content: center;
    cursor: pointer;

    .total-photo {
        font-size: 1em;
        color: #f0eded;
        z-index: 2;
    }

    .title-photo {
        position: relative;
        font-weight: bold;

        > span {
            margin-left: 20px;
            font-size: 1.6em;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0.9;
        border-radius: 8px;
    }

    &.active {
        &:before {
            background: rgb(0, 183, 55);
            opacity: 0.6;
        }

        &:hover {
            filter: brightness(0.7);

            &::after {
                content: '-';
                position: fixed;
                right: 0;
                font-weight: bold;
                font-size: 2em;
                margin-right: 20px;
            }
        }
    }

    &:hover {
        filter: brightness(0.7);

        &::after {
            content: '+';
            position: fixed;
            right: 0;
            font-weight: bold;
            font-size: 2em;
            margin-right: 20px;
        }
    }
}
