.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);

    .photos-icon,
    .users-icon,
    .collections-icon {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: capitalize;
        color: darkgray;
        padding: 12px;
        background-color: transparent;
        border-radius: 4px;
        margin-left: 20px;
        cursor: pointer;

        & span {
            font-size: 1vw;
            margin-left: 8px;
        }

        &:hover {
            color: black;
        }

        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            background-color: black; /* Màu sắc của gạch chân */
            transform: scaleX(0); /* Ẩn gạch chân ban đầu */
            transform-origin: 0 0; /* Đặt điểm bắt đầu ở góc trái trên của phần tử */
            transition: transform 0.2s ease-in-out; /* Hiệu ứng khi hover */
        }
    }

    .active {
        color: black;

        &::before {
            transform: scaleX(1); /* Hiển thị gạch chân cho item active */
        }
    }
}

.search-value {
    text-transform: capitalize;
}

.content-body {
    display: flex;
    padding: 1.5%;
    min-height: 100vh;
    height: 100%;
    width: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
